@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;

    h1 {
        font-family: "Anton", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    p,
    span {
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
    }

    a {
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        text-decoration: none;
        cursor: pointer;
        transition: all .3s ease;

        &:hover {
            text-decoration: underline;

        }
    }

    button {
        cursor: pointer;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
    }
}

body {
    background: #000000e5;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 2rem;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 1.3rem 3rem 1rem 2rem; */

    nav {
        display: flex;
        gap: .95rem;
        align-items: center;


    }

    .logo {
        cursor: pointer;
        width: 6rem;
    }

    .btn-header {
        background: #2b2b2b;
        border: none;
        padding: .6rem 1.3rem;
        border-radius: .5rem;
        font-size: 1rem;
        transition: all .3s ease;

        &:hover {
            background: #d9d9d9;
            color: black;
        }
    }
}

.container-hero {
    display: flex;
    flex-direction: column;
    height: 116vh;
    background: radial-gradient(circle at 50% 64%,
            #000000 0%,
            #242424 5%,
            #000000 80%);
    /* background: rgb(12, 12, 12); */
}

.container-hero::after {
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(circle at center,
            /* rgba(255, 255, 255, 0.125), */
            transparent 60%);
    pointer-events: none;
}

.headline {
    margin-top: 6.6rem;
    font-size: 10rem;
    letter-spacing: 10px;
    text-align: center;
    opacity: 33%;

}

.main-hero {
    margin-top: 3rem;
    display: flex;
    /* justify-content: space-between; */
    gap: 2.3rem;

    .infos-main {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-left: 2rem;

        p {
            width: 28rem;
        }


        .btn-hero {
            background: hwb(0 17% 83%);
            border: none;
            border-bottom: 1px solid white;
            /* padding: 1rem .4rem; */
            padding: 1.3rem;
            border-radius: .2rem;
            font-size: 1rem;
            transition: all .3s ease;
            width: 16rem;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                background: #d9d9d9;

                p {
                    color: black;
                }

                img {
                    rotate: 20deg;
                }
            }

            .content-btn {
                display: flex;
                align-items: center;
                gap: 1rem;
                width: 100%;

                img {
                    width: 1.1rem;
                    transition: all .3s ease;
                }

                p {
                    font-weight: bold;

                }
            }


        }
    }
}

.man-hero {
    width: 28rem;
    z-index: 10;
    margin-top: -12.7rem;
    opacity: 0;
}

.topics {
    display: flex;
    flex-direction: column;
    gap: 2.2rem;
    margin: 6.6rem 10.2rem;
    width: 100%;

    .txt {
        text-align: center;
        display: flex;
        flex-direction: column;
        width: 100%;

        h1 {
            font-size: 2.8rem;
        }

        p {
            font-size: 1.05rem;
            opacity: 75%;
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: .8rem;

        .item-topic {
            display: flex;
            align-items: center;
            gap: .3rem;

            img {
                opacity: 70%;
            }

            p {
                font-size: .9rem;
                opacity: 70%;
                transform: skew(-8deg);
            }
        }
    }
}

.container-criacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: -5rem auto 0;
    gap: 4.5rem;
    padding: 4rem;
    background: linear-gradient(150deg, #2C2C2C, #1B1B1B);
    width: 85rem;
    border-radius: 1.5rem;
    z-index: 90;
    position: relative;

}


.titulo-sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .8rem;

    h1 {
        font-size: 4rem;
        letter-spacing: 3px;
    }

    p {
        opacity: 80%;
        text-align: center;
        font-size: 1rem;
        width: 41rem;
    }
}


.topico-passos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;

    hr {
        width: 5rem;
        border: 1.6px solid white;
    }
}

.item-passos {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    text-align: center;

    .icon {
        padding: 1.1rem;
        border-radius: 35%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #C3C3C3;
        width: 4.5rem;
        height: 4.5rem;

        img {
            width: 2.6rem;
        }
    }

    .descricao {
        h1 {
            font-size: 1.6rem;
        }

        p {
            font-size: .85rem;
            opacity: 80%;
            width: 13.8rem;
        }
    }
}


.container-servicos{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 8rem;

}

.cards-servicos{
    width: 1300px;
  height: 500px;
  display: flex;
  overflow: hidden;
  margin: 5.5rem auto;


  .item-servicos{
     width:500px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-radius: 12px;
    transition:
      flex 0.6s cubic-bezier(.25, .46, .45, 1.4),
      filter .3s ease;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform .7s cubic-bezier(.25, .46, .45, 1.4);
    }

    p {
      position: absolute;
      bottom: 25px;
      left: 25px;
      font-size:1.3rem;
      font-weight: bold;
    }
  }
  }


  .cards-servicos:hover .item-servicos {
  flex: 0.8;
  filter: brightness(0.4);
}

/* --- HOVER NO ITEM --- */
.cards-servicos .item-servicos:hover {
  flex: 2;
  filter: brightness(.81);  
}

.cards-servicos .item-servicos:hover img {
  transform: scale(1);
}





.brake-frases {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    margin-top: 4rem;
    width: max-content;
    animation: rolagem 28s linear infinite;

    p {
        font-size: 1.8rem;
        font-weight: bolder;
        opacity: 50%;
    }
}

@keyframes rolagem {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}


.container-simulador {
    margin-top: 8rem;
    display: flex;
    width: 100%;
    background: url('/img/bg-simulador.png') no-repeat center rgba(0, 0, 0, 0.778);
    background-size: cover;
    padding: 5rem;
    height: 100vh;

}




.main-contentSimulador {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    /* margin-left: 4rem; */
    .txt-sec {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        h1 {
            font-size: 5.5rem;
            width: 45rem;
            line-height: 5.3rem;
            letter-spacing: 3px;
        }

        p {
            font-size: 1rem;
            opacity: 80%;
            width: 33rem;
        }
    }


    .btn-simulador {
        background: hwb(0 17% 83%);
        border: none;
        border-bottom: 1px solid white;
        /* padding: 1rem .4rem; */
        padding: 1rem;
        border-radius: .2rem;
        font-size: 1rem;
        transition: all .3s ease;
        width: 14.5rem;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background: #d9d9d9;

            p {
                color: black;
            }

            img {
                rotate: 20deg;
            }
        }

        .content-btn {
            display: flex;
            align-items: center;
            gap: 1.5rem;
            width: 100%;

            img {
                width: .95rem;
                transition: all .3s ease;
            }

            p {
                font-weight: bold;

            }
        }


    }
}


.topicos-simulador {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;

    .topic-item {
        display: flex;
        flex-direction: column;
        gap: .8rem;
        align-items: center;
        justify-content: center;
        /* padding: .rem; */
        width: 7.2rem;
        height: 7.2rem;
        background: #ffffff15;
        border-radius: .8rem;

        p {
            font-size: .85rem;
            opacity: 90%;
        }
    }
}

.mockup-laptop {
    display: flex;
    flex-direction: column;
    margin-top: 1.9rem;

    .img-laptop {
        object-fit: cover;
        width: 36rem;
        z-index: 10;
        position: relative;
        left: 3.2rem;
        top: 8rem;
        opacity: 0;
    }

    .img-pilar {
        width: 43rem;
        height: 14.3rem;
        opacity: 0;
            /* object-fit: contain; */
    }
}


.container-feedbacks {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}


.carrossel-feedbacks {
    /* display: flex; */
    justify-content: center;
    margin-top: 4rem;
}

.swiper {
    width: 100%;
    max-width: 1000px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 70px;
}

.swiper-slide {
    width: 330px !important;
    height: 340px !important;
}

.card-depoimento {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background: linear-gradient(190deg, #363636, #2B2B2B);
    border-radius: 1rem;
    gap: 2rem;
    overflow: hidden;


    p {
        font-size: 1rem;
        font-weight: 500;
        opacity: 75%;
        /* width: rem; */
        line-height: 22px;
        margin-left: .8rem;
        margin-top: 1.2rem;
    }
}

.infos-depoimento {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    /* margin-bottom: .5rem; */

    h1 {
        font-family: "Poppins", sans-serif;
        font-size: 1.2rem;
        font-weight: bold;
        color: white;

        /* margin-bottom: 2.4rem; */
    }

    .img-pessoa {
        width: 3.5rem;
        height: 3.5rem;
        border: 2px solid black;
        object-fit: cover;
        border-radius: 50%;
    }

    .aspas {
        margin-top: -30px;
        width: 3.5rem;
        margin-left: .8rem;
    }
}


.container-faq {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;


    h1 {
        font-size: 4.5rem;
        letter-spacing: 3px;
        width: 50rem;
        text-align: center;
        line-height: 93px;
    }
}

.accordions-faq {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    justify-content: center;
    align-items: center;
}

.accordion {
    width: 50rem;
    background: #303030;
    border-radius: .5rem;
    box-shadow: rgba(190, 190, 190, 0.24) 0px 3px 8px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    cursor: pointer;
    transition: all .4s ease;
}

.pergunta-accordion {
    background: none;
    border: none;
    width: 100%;
    height: 1.3rem;
    margin-top: .7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;


    p {
        font-size: 1.2rem;
        font-weight: bolder;
    }

    span {
        font-size: 1.8rem;
        font-weight: bolder;
    }
}


.resposta-accordion {
    font-size: .95rem;
    opacity: 80%;
    max-height: 0;
    opacity: 0;
    transition: all .4s ease;
    overflow: hidden;
}

.ativoResposta {
    opacity: 1;
    max-height: 10rem;
}

.ativoAccordion{
    background: transparent;
    border: 1.2px solid white;
}

.icon-open {
    transition: transform .4s linear;
}

.accordion:has(.ativoResposta) .icon-open {
    transform: rotate(47deg);
}


.seta-subir {
    background: black;
    padding: .8rem;
    border-radius: .3rem .3rem 0 0;
    width: 2.5rem;
    height: 3.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10rem auto 0;
    cursor: pointer;

    &:hover {
        img {
            opacity: 100%;
        }
    }

    img {
        width: 1.3rem;
        opacity: 40%;
        transition: all .3s ease;

    }
}

footer {
    background-color: black;
    /* margin-top: 15rem; */
    height: 58vh;
    border-radius: 3rem 3rem 0 0;
}

.geral_footer {
    /* margin-top: 8rem; */
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    gap: 5rem;
    z-index: 2;
    padding: 4rem;

    p {
        color: rgba(255, 255, 255, 0.75);
        font-weight: bold;
    }

    a {
        color: rgba(255, 255, 255, 0.75);
        font-weight: bold;
        font-family: "Poppins", sans-serif;

        &:hover {
            color: white;
        }
    }
}


.title-footer {
    color: white;
    opacity: 100%;
    font-size: 18px;
    margin-bottom: 1rem;
}


.logo_footer {
    height: 150px;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: #303030;
    border-radius: 50%;
}

.links_footer {
    display: flex;
    flex-direction: column;
    gap: 1.1rem;

    a {
        color: rgba(255, 255, 255, 0.75);
    }
}

.col2,
.col3 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contato_footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.1rem;
}

.redes_footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.imgs-redes {
    display: flex;
    justify-content: flex-start;
    gap: .5rem;

    img {
        height: 34px;
        cursor: pointer;
    }
}


.horarios_footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.4rem;
}

.local_footer {
    display: flex;
    flex-direction: column;
    width: 16rem;
    gap: 0.9rem;
}

.cpy {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 25px;
}